* {
    margin: 0; 
    padding: 0;
}
#picSet {
    border: 5px solid red;
    width: 1440px;
    height: 540px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
#picSet img {
    border: 2px solid green;
    position: absolute;
    top: 0;
    transition: left 1s;
}
/* #picSet #pic1 {
    left: 0;
}
#picSet #pic2 {
    left: 1440px;
}
#picSet #pic3 {
    left: 2880px;
    left: calc(1440px * 2);
} */